.img{
	width: 250px;
	height: 150px;
}
.img2{
	width: 200px;
	height: 100px;
}
#titulo{
	background-color: blue;
}
#titulo h1{
	font-size: 30pt;
}
#r1 button{
	font-size: 14pt;
}
#r2 button{
	font-size: 10pt;
}