*{
	font-family: 'Montserrat', sans-serif;
}
body{
	background-image: url('../img/fondo_faq.jpg');
	background-repeat: no-repeat;
	overflow: hidden;
}

#bloq{
	overflow: scroll;
	height: 970px;
}

p,h1,h2,h3{
	color: #222222;
	font-weight: 800;
}

.color{
	color: #222222;
}


.btn{
	position: fixed;
	color: #fed136;
}

.btn-xl{
	border: 3px solid #fed136;
	letter-spacing: 1px;
	text-transform: uppercase;	
}


.btn:hover{
	color: white;
	-webkit-transition:1s;
	-o-transition:1s;
	-moz-transition:1s;
}

.btn-xl:hover{
	border: 3px solid #fed136;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: #fed136;
	-webkit-transition:1s;
	-o-transition:1s;
	-moz-transition:1s;	
}
